* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Equivalent to 10px */
  gap: calc(10rem / 16);
}

.container {
  max-width: calc(320rem / 16);
  padding: 16px;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
}

.img-qr {
  width: 100%;
  border-radius: 20px;
}

.text {
  padding: 16px;
}

.primary-text {
  margin-top: calc(8rem / 16);
  margin-bottom: 1rem;
  font-size: calc(22rem / 16);
  font-weight: 700;
  color: #1f314f;
  text-align: center;
}
.description-text {
  margin-bottom: calc(5rem / 16);
  font-size: calc(15rem / 16);
  text-align: center;
  color: #7d889e;
  letter-spacing: 0.1875px;
}

/* Flexbox gap fix for safari */

.no-flexbox-gap .container {
  margin-bottom: 1rem;
}
